<img src="img/book-head1-removebg.png" alt="book" class="img-login" /><h3
  id="title-page"
>Your Own Personal Journal</h3>

<div class="section">
  <p class="lead">Create public and private stories from your life. Track your
    daily moods and feelings, and let go of negative thoughts.</p>
  <p>Coming Soon: I am constantly trying new features to better the experience
    and to enahnce the overall design.</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Log In With Google
  </a>
</div>

{{! <i class="fa-solid fa-explosion fa-2xl"></i> }}