<i class="fa-solid fa-explosion fa-2xl"></i><h3>Your Own Personal Journal</h3>

<div class="section">
  <p class="lead">Create public and private stories from your life. Track your
    daily moods and feelings, and let go of negative thoughts.</p>
  <p>Coming Soon: Color code your moods and get a more detailed view of your
    past feelings.</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Log In With Google
  </a>
</div>