p {
  margin: 10px 0 !important;
}

.fa-small {
  font-size: 16px !important;
}

.rotate {
  transform: rotate(90deg);
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
.img-login {
  display: block;
  width: 24%;
}

#title-page {
  font-size: 4rem;
}

#menu-img {
  width: 7rem;
  display: block;
  margin-left: 16px;
}

#welcome {
  font-size: 17px;
}

.lead {
  font-size: 20px;
}


/* mood color attempt */
.color-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.color-good {
  clip-path: circle(40%);
  background: #fff176;
}
.color-bad {
  clip-path: circle(40%);
  background: #ef5350;
}
.color-neutral {
  clip-path: circle(40%);
  background: #64b5f6;
}

.dash-status {
  padding-left: 15px;
}

.side-border {
  clip-path: circle(34%);
}

.body-space {
  padding-left: 40px;
}

.pad-me-banana {
  padding-right: 50px;
}

.fixed-width {
  width: 80px;
}

/* release title and image*/
#h3-center {
  text-decoration: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

#release-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@media screen and (max-width: 840px) {
  nav .brand-logo {
    max-width: 800px;
    position: relative;
    font-size: 2em;
  }
  .side-border {
    clip-path: circle(36%);
  }
  .lead {
    font-size: 16px;
  }

  

  .dropdown-content li > span {
    font-size: 15px;
    margin-left: 29px;
    padding: 10px 0;
  }

  .select-wrapper * {
    transition: none !important;
    transform: none !important;
    animation: none;
  }
}

@media screen and (max-width: 668px) {
  nav .brand-logo {
    max-width: 800px;
    position: relative;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 595px) {
  nav .brand-logo {
    max-width: 800px;
    position: relative;
    font-size: 1.1em;
    font-weight: 400;
    padding-right: 5.3rem;
  }

  .lead {
    font-size: 14px;
  }

  .img-login {
    display: flex;
    flex-wrap: nowrap;
    width: 49%;
    height: 12em;

    padding-right: 14px;
  }

  #title-page {
    font-size: 1.7rem;
    padding: 10px 0 0 0;
  }

  .side-border {
    clip-path: circle(26%);
   
  }

  .dash-status {
    padding-right: 5px;
  }

  
 
}
