p {
  margin: 10px 0 !important;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
.img-login {
  display: block;
  width: 24%;
}

#title-page {
  font-size: 4rem;
}

#menu-img {
  width: 7rem;
  display: block;
  margin-left: 16px;
}

/* mood color attempt */

.mood-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.side-border {
  clip-path: circle(40%);
}

.body-space {
  padding-left: 20px;
}

/* release title */
#h3-center {
  text-decoration: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

@media screen and (max-width: 840px) {
  nav .brand-logo {
    max-width: 800px;
    position: relative;
    font-size: 2em;
  }
}
@media screen and (max-width: 668px) {
  nav .brand-logo {
    max-width: 800px;
    position: relative;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 595px) {
  nav .brand-logo {
    max-width: 800px;
    position: relative;
    font-size: 1.1em;
    font-weight: 400;
    padding-right: 5.3rem;
  }

  .img-login {
    display: flex;
    flex-wrap: nowrap;
    width: 49%;
    height: 12em;

    padding-right: 14px;
  }

  #title-page {
    font-size: 1.7rem;
    padding: 10px 0 0 0;
  }
}
