<h1>Track How Your Feeling</h1>
<div class="row">
  <form action="/moods/postMoods" method="POST" class="col s12">
    <div class="row">
      {{! <div class="input-field">
        <input type="text" id="title" name="title" />
        <label for="title">Title</label>
      </div> }}
    </div>

    <div class="row">
      <div class="input-field">
        <select id="status" name="status">
          <option value="neutral" selected>Neutral</option>
          <option value="good">Good</option>
          <option value="bad">Bad</option>
        </select>
        <label for="status">Current Mood</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Describe how you are feeling today:</h5>
        <textarea id="body" name="body"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Save" class="btn" />
      <a href="/showMoods" class="btn orange">Cancel</a>
    </div>
  </form>
</div>