<h3 id="h3-center">Let It Go</h3>
 <div class="row">
  <form action="/release/{{_id}}" method="POST" class="col s12">

    {{#if release}}
    {{#each release}}
<div class="release row">
  <span>
    {{{release.body}}}
  </span>
</div>
{{/each}}
{{/if}}


  <div class="row">
    <div class="input-field">
      <h5>Enter your thoughts you'd like to let go:</h5>
      <textarea id="body" name="body" value="body"></textarea>
    </div>
  </div>

  <div class="row">
    <input type="submit" value="Release" class="btn" />
    <a href="/release" class="btn orange">Cancel</a>
  </div>
</form>