<h3 id="h3-center">Let It Go</h3>
 <div class="row">
<form
  action="/release/postRelease"
  method="POST"
  class="col s12"
  value="{{release.body}}"
>

  <div class="row">
    <div class="col s12 m8">

      <div class="card story">
        <div class="card-content">
          <span class="card-title">{{formatDate createdAt
              "MMMM Do YYYY, h:mm:ss a"
            }}</span>
          {{{story.body}}}
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="input-field z-depth-1">
      <h5>Enter your thoughts you'd like to let go:</h5>
      <textarea
        id="body"
        name="body"
        value="{{release.body}}"
        class="getGone"
      ></textarea>
    </div>
  </div>

  <div class="row">
    <input type="submit" value="Release" class="btn" onclick="addText()" />
    <a href="/release" class="btn orange">Cancel</a>
  </div>

</form>