<h3
  id="h3-center"
  class="animate__animated animate__lightSpeedOutRight animate__delay-2s"
>Your Thoughts Have Been Released!
</h3>

<img
  src="/img/releaseIt-removebg-preview.png"
  alt="book and butterflies"
  id="release-img"
  class="animate__animated animate__zoomOutUp animate__delay-2s"
/>

{{#each releases}}
  <p>{{body}}</p>
{{/each}}